.review{
    background-color: #B9F3FC;
    border-radius: 20px;
    padding: 15px;
}
.img-review{
    display: flex;
    align-items: center;
}

.img-review img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.star{
    width: 20px;
}